.confirmation_page{
    background: url("/calendar-bg.jpg")no-repeat center center/ cover;
    box-shadow: 0 3000px rgba(0, 0, 0, 0.1) inset;
    display: flex;
    flex-direction: row;
    height:90vh;
    width: 100%;
    margin-top: 10vh;
    justify-content: center;
    background-color: white;
    
    overflow-y: scroll;
}

.confirmation_page::-webkit-scrollbar {
    display: none;
  }



.confirmation_content{
    display: flex;
    height:auto;
    width: 100%;
    justify-content: left;
    
}


.confirmation_content p{
    color: black;
}

.MuiPaper-root.paperback.MuiPaper-elevation1.MuiPaper-rounded {
    width:90%; 
    padding: 5vmin;
    align-items: left;
    /* margin: 2rem; */
}

.MuiPaper-root.paperback.MuiPaper-elevation1.MuiPaper-rounded h3 {
    font-size: 3.5vmin;
}

.MuiPaper-root.paperback.MuiPaper-elevation1.MuiPaper-rounded p {
    font-size: 2.5vmin;
}

.MuiFormControl-root.MuiTextField-root.schedule-form {
    width:20vw;
    min-width: 18vmin;
}

.MuiFormControl-root.MuiTextField-root.schedule-form label {
    font-size: 2.5vmin;
}


.MuiGrid-root.Checkout{
    display: flex;
    width: 100vw;
    padding-top: 5vh;
}

.MuiGrid-root.orderGrid_item {
    width:80%;
    padding-right: 100vh;
    align-items: center;
}


.MuiGrid-root.calendarGrid{
    padding-top: 5vh;
    padding-right: 2vw;
}

.navbar{
    width:100%;
    z-index: 1;
}

.MuiGrid-align-items-xs-center {
    align-items:left;
}   


.MuiPaper-root.paperback.MuiPaper-root.paperback.MuiPaper-elevation1.MuiPaper-rounded{
    border-radius: 40px;
    box-shadow: 10px 2px 1px -1px rgba(0,0,0,0.2),0px 1px 1px 0px rgba(0,0,0,0.14),0px 1px 3px 0px rgba(0,0,0,0.12);
}

.MuiButtonBase-root.MuiButton-root.MuiButton-contained.append-user-details{
    padding: 2vmin;
}

.MuiButtonBase-root.MuiButton-root.MuiButton-contained.append-user-details span{
    font-size: 2.5vmin;
}