body {
    font-family: Arial, Helvetica, sans-serif;
   
}

.user{
  background: url("/account-bg1.jpg") no-repeat center center/ cover;
}

.table_text {
  color: #777;
  padding: 16px;
  font-size: 0.875rem;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 400;
}

.profile_page{
  display: flex;
  height: 100vh;
  width: 100vw;

  /* Smooth scroll */
  overflow-x: hidden;
  overflow-y: scroll;
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
}

.profile_navbar{
    padding-bottom: 1rem;
}

.orderHistory{
  background: url("/account-bg1.jpg") no-repeat center center/ cover;
    display:flex;
    flex-direction: column;
    width: 100vw;
    justify-content: center;
    align-items: center;
}

.userorderHistory{
  display:flex;
  flex-direction: column;
  margin-top: 10vh;
  width: 90vw;
  height: 80%;
  justify-content: center;
}

.userorderHistory h2{
  color: black;
}

.test_button{
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}


.MuiFormControl-root.MuiTextField-root.edit-particulars {
  width:100%;
}

.MuiPaper-root.particulars-paper{
  width: 80%;
  padding-bottom: 1rem;
  margin-bottom: 2rem;
}

.user_welcome{
  font:black;
  display: flex;
  width: 90vw;
  justify-self: center;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.user_welcome h1{
  color: black;
}

.user_welcome p{
  color:#777;
  font-size: 1rem;
  text-align: left;
  padding: 0.1rem;
  padding-left: 1rem;
}

.user_welcome h3{
  color:#777;
  font-size: 1.5rem;
}

.MuiPaper-root.user_order_table_paper{
  max-height: 80%;
}
.MuiTableContainer-root.user_order_table_container{
  max-height: 100%;
}

.MuiTableCell-root.MuiTableCell-head.address,
.MuiTableCell-root.MuiTableCell-body.address{
  min-width: 25rem;
}

.MuiTableCell-root.MuiTableCell-head.name,
.MuiTableCell-root.MuiTableCell-body.name{
  min-width: 10rem;
}

.MuiTableCell-root.MuiTableCell-head.MuiTableCell-stickyHeader{
  background-color: lightgray;
}

.MuiTableCell-root.MuiTableCell-body.table-cell-scheduled{
  background-color: #D8D8D8;
}

.MuiButtonBase-root.MuiButton-root.MuiButton-contained.approved-btn{
  background-color: #bad4aa;
  font-weight: bold;
}

.MuiButtonBase-root.MuiButton-root.MuiButton-contained.delete-btn{
  background-color: lightcoral;
  font-weight: bold;
}

.MuiPaper-root.MuiSnackbarContent-root.MuiPaper-elevation6,
.MuiSnackbar-root.MuiSnackbar-anchorOriginBottomLeft.profile-snackbar{
  background: #d6ffbd;
}

