*{
    margin: 0;
    padding: 0;
    
}

h1{
    text-align: center;
}

.confirm_button{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.textFields{
    justify-content: center;
    background: white;
    border-radius: 3;
    border: 0;
    height: 100%;
    

    color: black;
}

/* body{
    background-image: url('https://images.unsplash.com/photo-1500322969630-a26ab6eb64cc?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjExMjU4fQ&w=1000&q=80');
} */



section#test{
    background: url('https://images.unsplash.com/photo-1500485035595-cbe6f645feb1?ixlib=rb-1.2.1&w=1000&q=80')
    no-repeat center center/
    cover;

}