/* h1{
    text-align: center;
}

section#test p{
    color: black;
}

.textFields{
    justify-content: center;
    background: white;
    border-radius: 3;
    border: 0;
    height: 100%;
    color: black;
}



.waste_item_content{
    display:flex;
    overflow-y: scroll;
}

.waste_selection{
    display: flex;
    position:relative;
    width: 100vw;

}
section#test{
    background: url('https://images.unsplash.com/photo-1500485035595-cbe6f645feb1?ixlib=rb-1.2.1&w=1000&q=80')
    no-repeat center center/
    cover;
    height:100vh;
} */