*{
    margin: 0;
    padding: 0;
}

.navbar{
    position: fixed;
    top: 0;
    z-index: 1;
    display: flex;
    width: 100vw;
    height: 10vh;
    background: black
}

.navbar ul{
    display: flex;
    list-style: none;
    width: 100vw;
    justify-content: center;

}

.navbar ul li{
    margin: 0 1rem;
    padding: 1rem;
    font-size: 1.5vw;
    
}

.navbar ul li a{
    text-decoration: none;
    text-transform: uppercase;
    color: #f4f4f4;
}

.navbar ul li a:hover{
    color: skyblue;
}

