@import "../../../node_modules/react-alice-carousel/lib/alice-carousel.css";

.alice-carousel__dots {
  margin: 0px;
}

.alice-carousel__prev-btn,
.alice-carousel__next-btn {
  padding: 5px;
}

.voucher-container {
  display: flex;
  justify-content: center;
  background: url("/account-bg1.jpg") no-repeat center center/ cover;
  height: 100vh;
}

.vouchers {
  padding: 0px;
}
.voucher_description {
  margin-left: 10px;
}

.voucher_images {
  padding: 0px;
  height: 60%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  /* z-index: -1; */
  border-bottom: 1px solid black;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  /* border-radius: 10px  ; */
  /* image needs to be 24:10 ratio for it to display properly */
}
