.admin {
  display: flex;
  /* border: 2px solid black; */
  padding: 10px;
  /* position: relative; */
  margin: 0px;
  font-family: Raleway;
  color: beige;
  justify-content: space-evenly;
  align-items: center;
}

.admin-components {
  font-size: 25px;
  color: grey;
  word-wrap: normal;
  justify-content: center;
}

.container-test {
  margin-top: 80px;
  width: 30%;
  display: flex;
  /* position: relative; */
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;

  /* border: solid 2px blue; */
}

.form {
  font-family: Raleway;
  align-items: center;
  margin: 40px auto;
  max-width: 300px;
  display: flex;
  /* border: 2px solid black; */
  justify-content: center;
  /* background-color: #777; */
}

#form {
  display: flex;
  align-items: center;
  height: 100px;
  width: 80%;
  justify-content: center;
  flex-wrap: wrap;
  border: 2px solid black;
  border-radius: 10px;
  background-color: lightslategrey;
}
