.admin_userorder{
    display:flex;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

.orderHistory{
    height: 100vh;
    width: 100vw;
    /* overflow-y: scroll; */
}

.orderHistory h2{
    color: #f4f4f4
}

.MuiPaper-root.admin_order_table_paper{
    max-height: 80%;
    max-width: 80%;
}
.MuiTableContainer-root.admin_order_table_container{
    max-height: 100%;
    max-width: 100%;
}

.MuiTableCell-root.MuiTableCell-head.address,
.MuiTableCell-root.MuiTableCell-body.address{
  min-width: 25rem;
  /* border: darkgrey; */
}

.MuiTableCell-root {
    border:1px solid rgba(224, 224, 224, .5);
}

.MuiButtonBase-root.MuiButton-root.MuiButton-contained.approved-btn{
    background-color: #bad4aa;
    font-weight: bold;
}

.MuiButtonBase-root.MuiButton-root.MuiButton-contained.approve-btn{
    background-color: lightcoral;
    font-weight: bold;
}

.MuiTableCell-root.MuiTableCell-head.MuiTableCell-stickyHeader{
    background-color: lightgray;
}
  
.MuiTableCell-root.MuiTableCell-body.table-cell-scheduled{
    background-color: #D8D8D8;
}

.MuiPaper-root.MuiSnackbarContent-root.MuiPaper-elevation6,
.MuiSnackbar-root.MuiSnackbar-anchorOriginBottomLeft.admin-snackbar{
  background: #d6ffbd;
}
